<nav id="header">
    <% if (locals.user) { %>
        <span class="nav_item"> <%=user.username %> is Login</span>
        <a href="/logout"> Logout</a>
    <% } else { %>
        <span class="nav_item">
            <a href="/signin">Singup</a>
            <a href="/login">Login</a>
            <a href="/oauth/twitter">Twitter</a>
        </span>
    <% } %>  
</nav>